<div class="average-container row">
  <p class="average-title">Tiempo de vuelta media(en minutos)</p>
  <h1 class="average-result">8.25</h1>
  <div class="result-container">
    <span class="span-svg">
      <svg
        class="tremor-BadgeDelta-icon h-4 w-4"
        xmlns="http://www.w3.org/2000/svg"
        viewBox="0 0 24 24"
        width="24"
        height="24"
      >
        <path fill="none" d="M0 0h24v24H0z"></path>
        <path
          fill="currentColor"
          d="M16.004 9.414l-8.607 8.607-1.414-1.414L14.589 8H7.004V6h11v11h-2V9.414z"
        ></path>
      </svg>
    </span>
    <p class="average-time-sub-title">-15 segundos</p>
    <p class="average-sub-title">que el tiempo medio de otro paises</p>
  </div>
</div>
