<h3 class="title">Mejores tiempos</h3>
<p class="text-center mt-2">Basado en más de 100 tiempos</p>
<mat-tab-group>
    <mat-tab>
      <ng-template mat-tab-label>
        <mat-icon class="example-tab-icon">directions_car</mat-icon>
        Resultados generales
      </ng-template>
      Content 1
    </mat-tab>
  
    <mat-tab>
      <ng-template mat-tab-label>
        <mat-icon class="example-tab-icon">track_changes</mat-icon>
        Perfiles encuestados
      </ng-template>
      Content 2
    </mat-tab>
  
    <mat-tab>
      <ng-template mat-tab-label>
        <mat-icon class="example-tab-icon">table_chart</mat-icon>
        Filtrar tiempos
      </ng-template>
  
      Content 3
    </mat-tab>
  </mat-tab-group>
  